<!DOCTYPE html>
<html lang="en">
<head>
  <title>Colx</title>
  {% load static %}
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">  
  
</head>
<body style="background-color: #333300">
  {% if request.session.roll_number %}
  <!-- navbaar after login -->
    <!-- navbaar after login-->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'colx_firebase:index' %}">Colx</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'colx_firebase:index' %}">Home</a></li>
      <li><a href="{% url 'colx_firebase:sell' %}">Sell</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" > {{ request.session.localId }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Cart</a></li>
              <li><a href="#">Your orders</a></li>
              <li><a href="{% url 'colx_firebase:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav> 
  {% else %}
    {% include 'colx_firebase/include/navbar.html' %}
{% endif%} 
<!-- navbaar ends -->
<!-- items shown -->
<div class="container">
  <h2 style="color: white;">Items In Your Cart</h2>
  <div class="row">
        {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success" id="message">
                {{ message }}
                <a href="#" class="del-msg" style="float: right">&times;</a>
                </div>
              {% endfor %}
        {% endif %}
        {% if items %}
      {% for item in items %}


      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading"style="background-color: #808000;" ><h4>{{ item.itemitem_no.item_name }}</h4></div>
            
          <div class="panel-body" style="background-color: #325454;">
              
            <img src="{{ item.itemitem_no.img }}" style="height: 300px;width: 225px;"/>
            <h6 class="text-right"><kbd>&#8377 {{ item.itemitem_no.price }}</kbd></h6>
            <a href="{% url 'colx_firebase:buy' item.itemitem_no.item_no %}" class=" btn btn-primary">Buy </a>
          </div>
          <div class="panel-footer  ">{{ item.itemitem_no.description }}
          
           </div>
        </div>
      </div>
      
      {% endfor %}
      {% else %}
      <h2 style="color: white;">No Items In Your Cart</h2>
      {% endif %}
    </div>
</div>
<!--js files-->
<script>
  var message_ele = document.getElementById("message");
  setTimeout(function(){ 
     message_ele.style.display = "none"; 
    }, 3000);
</script>
</body>

</html>
